@model IEnumerable<Eletrobid.Models.Produto>

@{
    ViewBag.Title = "Gerencia de Produtos";
}

<h2 class="text-center">Produtos</h2>

<p class="float-right">
    @Html.ActionLink("Adicionar", "InserirProduto", null, new { @class = "btn btn-success btn-sm" })
    @Html.ActionLink("Adicionar Vários", "Create", null, new { @class = "btn btn-success btn-sm" })
</p>
<table class="table table-hover table-responsive-xl text-center">
    <thead class="thead-dark">
        <tr>
            <th>
                Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                Origem
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoProduto)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.NomeFantasia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoProduto.Nome)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
