@model Eletrobid.Models.Empresa

@{
    ViewBag.Title = "Detalhes da Empresa";
}

<h2 class="text-center">Detalhes da Empresa</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdEmpresa)

        <div class="form">
            <fieldset>
                <div class="form-row mt-3">
                    <div class="form-group col">
                        @Html.LabelFor(model => model.RazaoSocial, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.RazaoSocial, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RazaoSocial, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col">
                        @Html.LabelFor(model => model.RazaoSocial, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.RazaoSocial, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RazaoSocial, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col">
                        @Html.LabelFor(model => model.NomeFantasia, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.NomeFantasia, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NomeFantasia, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row mt-3">
                    <div class="form-group col">
                        @Html.LabelFor(model => model.Cnpj, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Cnpj, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cnpj, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col">
                        @Html.LabelFor(model => model.TelefoneContato1, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.TelefoneContato1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TelefoneContato1, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col">
                        @Html.LabelFor(model => model.TelefoneContato2, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.TelefoneContato2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TelefoneContato2, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row mt-3">
                    <div class="form-group col">
                        @Html.LabelFor(model => model.Endereco, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col">
                        @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col">
                        @Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col">
                        @Html.LabelFor(model => model.Cep, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Cep, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cep, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row mt-3">
                    <div class="form-group col">
                        @Html.LabelFor(model => model.EstadoId, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.EstadoId, (SelectList)ViewBag.ListaEstados, "Selecione", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EstadoId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col">
                        @Html.LabelFor(model => model.CidadeId, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.CidadeId, (SelectList)ViewBag.ListaCidades, "Selecione o Estado", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CidadeId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col">
                        @Html.LabelFor(model => model.IdTipoEmpresa, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.IdTipoEmpresa, (SelectList)ViewBag.TipoEmpresa, "Selecione", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdTipoEmpresa, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col">
                        @Html.LabelFor(model => model.EmpresaLeiloeira, htmlAttributes: new { @class = "control-label" })
                        <div class="checkbox">
                            @Html.EditorFor(model => model.EmpresaLeiloeira)
                            @Html.ValidationMessageFor(model => model.EmpresaLeiloeira, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
                
        <div class="form-group text-center">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Voltar", "GerenciaEmpresas", null, new { @class = "btn btn-default" })
                <input type="submit" value="Salvar Alterações" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
